<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <style>
            body {
                background-color: #222;
                color: #222;
            }

            .container {
                max-width: 660px;
                margin: 30px auto;
            }

            .container h1 {
                margin-left: 120px;
            }

            a {
                text-decoration: none;
                color: #000;
                padding: 15px;
                font-weight: bold;
            }

            .modal-content {
                width: 1000px;
                margin-right: 400px;

            }

            .modal-title {
                font-size: 40px;
                text-align: center;
            }
        </style>

        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>

        <body>
            <div class="container">

                <h1>Perfil Administrador</h1>
                <hr>

                <div class="card">
                    <a href="/indexAdmin">
                        <h4>Gerenciamento de Usuários</h4>
                    </a>
                </div><br><br>

                <div>

                    <div class="card">
                        <button data-bs-toggle="modal" data-bs-target="#listSugestoes" tabindex="-1"
                            aria-disabled="false">
                            <h4>Listar Sugestões dos Usuários<h4>

                    </div>
                    <!-- Modal listSugestoes-->
                    <div>
                        <div>
                            <div class="modal fade" id="listSugestoes" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true" data-backdrop="static" data-keyboard="false">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <link rel="stylesheet" href="/css/1admin.css">
                                            <h5 class="modal-title" id="exampleModalLabel ">Sugestões dos Usuarios</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="row">
                                            <div class="modal-body">
                                              
                                                    <% sugestoes.forEach(sugestao=> { %>
                                                        <div class="col-md-16">
                                                            <table class="table table-houver">
                                                                <thead>
                                                                    <tr class="title">
                                                                        <th style="font-size: 30px;" class="col-md-4">
                                                                            id</th>

                                                                        <th style="font-size: 30px;" class="col-md-4">
                                                                            Descrição</th>
                                                                        <th style="font-size: 30px;" class="col-md-3">
                                                                            Sugestão
                                                                        <th>
                                                                        <th style="font-size: 30px;" class="col-md-4">
                                                                            Data
                                                                        <th>
                                                                            <form action="/deleteSugestoes" method="post" style="display: inline;" onsubmit="confirmDel(event, this)">
                                                                                <input type="hidden" name="id" value="<%= sugestao.id %>">
                                                                                <button class="btn btn-danger btn-sm ml-2 mb-2">Deletar</button>
                                                                            </form>
                                                                    </tr>
                                                                </thead>
                                                                <tr>
                                                                    <td style="font-size: 20px;" class="col-md-2">
                                                                        <%= sugestao.id %>
                                                                    </td>

                                                                    <td style="font-size: 20px;" class="col-md-2">
                                                                        <%= sugestao.descricao %>
                                                                    </td>
                                                                    <td style="font-size: 20px;" class="col-md-4">
                                                                        <%= sugestao.sugestoes %>
                                                                    </td>
                                                                    <td style="font-size: 20px;" class="col-md-6">
                                                                        <%= sugestao.createdAt %>
                                                                    </td>
                                                                    <% }) %>
                                                                        <br><br>
                                                                        <hr>
                                                                </tr>
                                                            </table>
                                                        </div>
                                            </div>
                                            
                                            <div>
                                                <button n type="button" data-bs-dismiss="modal" aria-label="Close"
                                                    type="button" class="btn btn-primary btn-modal">Voltar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal listSugestoes-->
                    </div>

        </body>
        <script>
            function confirmDel(event, form) {
                event.preventDefault()
                let decision = confirm('Deseja deletar essa Sugestão?')
                if(decision) {
                    form.submit();
                }
            }
        </script>

        </html>