<%- include('partials/header') %>
    <%- include('partials/navbar') %>

        <style>
            body {
                background-color: #222;
                color: #222;
            }

            .container {
                max-width: 660px;
                margin: 30px auto;
            }

            .container h1 {
                margin-left: 120px;
            }

            a {
                text-decoration: none;
                color: #000;
                padding: 15px;
                font-weight: bold;
            }

        </style>

        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
        </head>

        <body>

            <div class="container">

                <h1>Perfil Administrador</h1>
                <hr>

                <div class="card">
                    <a href="/indexAdmin">
                        <h4>Gerenciamento de Usuários</h4>
                    </a>
                </div><br><br>

                <div>

                    <div class="card">
                        <button data-bs-toggle="modal" data-bs-target="#listSugestoes" tabindex="-1"
                            aria-disabled="false">
                            <h4>Listar Sugestões dos Usuários<h4>

                    </div>
                    <!-- Modal listSugestoes-->
                    <div>
                        <div>
                            <div class="modal fade" id="listSugestoes" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content" style="width: 1200px;">
                                        <div class="modal-header">
                                            <link rel="stylesheet" href="/css/1admin.css">
                                            <h5 class="modal-title" id="exampleModalLabel ">Sugestoes dos Usuarios</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="row">
                                        <div class="modal-body">
                                            <form action="/superUser" method="post">
                                                <% sugestoes.forEach(sugestao=> { %>
                                                    <div class="col-md-16">
                                                    <table class="table table-houver">
                                                        <thead>
                                                        <tr class="title">
                                                            <th  style="font-size: 30px;" class="col-md-">ID</th>
                                                            <th  style="font-size: 30px;" class="col-md-" >Descrição</th>
                                                            <th  style="font-size: 30px;" class="col-md-">Sugestão<th>
                                                            <th  style="font-size: 30px;" class="col-md-" >Data de envio<th>
                                                                <a href="/superUser/<%= sugestao.id %>">
                                                                    <button type="submit" name="Del"
                                                                        class="btn btn-danger btn-modal">Deletar</button></a>
                                                        </tr>
                                                        </thead>
                                                        <tr>
                                                            <th style="font-size: 20px;" class="col-md-1"><%= sugestao.id %></th>
                                                            <td style="font-size: 20px;" class="col-md-2"><%= sugestao.descrição %></td>
                                                            <td style="font-size: 20px;"  class="col-md-4"><%= sugestao.sugestoes %></td>
                                                            <td style="font-size: 20px;"  class="col-md-1"><%= sugestao.createdAt %> </td>  
                                                        <% }) %>
                                                        <br><br>
                                                        <hr>
                                                    </tr>
                                                    </table>
                                                </div>
                                                </div>
                                            </form>
                                                <div>
                                                    <button n type="button" data-bs-dismiss="modal" aria-label="Close"
                                                        type="button"
                                                        class="btn btn-primary btn-modal">Voltar</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal listSugestoes-->
                    </div>
        </body>

        </html>